<div class="products" id="shopProducts">
    <table>
        <thead>
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
            {{>tB}}
        {{/each}}
        </tbody>
    </table>
</div>