{{>header}}
<header>
    <div id="profile"><span>{{username}}</span>|<a href="#/logout">logout</a></div>
</header>
<div class="content">
        <div id="menu">
            <div class="title">Navigation</div>
            <a class="nav" href="#/catal">Catalog</a>
            <a class="nav" href="#/submit">Submit Link</a>
            <a class="nav" href="#/myPost">My Posts</a>
        </div>
<section id="viewCatalog">
</section>
</div>
{{footer}}