{{#if isPost}}
    <div class="post post-content">
        <h1>Your Posts</h1>
    </div>
{{/if}}
<div class="posts">
    {{#each data}}
        {{>post}}
        {{else}}
    <div class="post-content">(No Posts)
    </div>
    {{/each}}
</div>