{{>header}}
<section id="all-receipt-view">
    <h1>All Receipts</h1>
    <div class="table">
        <div class="table-head">
            <div class="col wide">Creation Date</div>
            <div class="col wide">Items</div>
            <div class="col">Total</div>
            <div class="col">Actions</div>
        </div>
        {{#each data1}}
            {{>receipts}}
            {{/each}}
        <div class="table">
            <div class="col wide"></div>
            <div class="col wide"></div>
            <div class="col">Total: {{absoluteTotal}}</div>
            <div class="col"></div>
        </div>
    </div>
</section>
{{>footer}}